@{
    ViewData["Title"] = "Student Manager";
}

<h1>Student Management</h1>

<ul>
    <li><a asp-controller="Student" asp-action="Add">Add Student</a></li>
    <li><a asp-controller="student" asp-action="EditSearch">Edit Student</a></li>
    <li><a asp-controller="Student" asp-action="ViewStudents">View Students</a></li>
    <li><a href="#">Remove Student (coming soon)</a></li>
</ul>
