@{
    ViewData["Title"] = "Search Student to Remove";
}

<h2>Remove Student - Search</h2>

<form asp-action="DeleteSearch" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="studentNumber">Student Number</label>
        <input type="text" name="studentNumber" class="form-control" />

        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </div>
    <div class="text-danger">
        @Html.ValidationSummary()
    </div>
</form>