@{
    ViewData["Title"] = "View Students";
}
<div class="d-flex justify-content-between align-items-center mb-3">


    <h2>View Student</h2>

    <div class="">
        <a href="@Url.Action("ExportToExcel", "Student")" id="exportToExcel" class="btn btn-success me-2"><i
                class="fas fa-file-excel"></i> Export to Excel</a>
                <a href="@Url.Action("ExportToPdf", "Student")" id="exportToPdf" class="btn btn-danger me-2">
                    <i class="fa-solid fa-file-pdf"></i> Get PDF
                </a>
    </div>
</div>

<table id="studentsTable" class="display table table-bordered">
    <thead>
        <th>Student Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Date of Birth</th>
    </thead>
    <tbody>

    </tbody>
</table>

@Html.AntiForgeryToken()

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $(document).ready(function () {
            $('#studentsTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("GetStudents", "Student")",
                    "type": "POST",
                    "data": function (d) {
                        return JSON.stringify(d);
                    },
                    "contentType": "application/json",
                    "dataType": "json",
                    "dataSrc": function (json) {
                        if (json.error) {
                            alert('Error: ' + json.error);
                            return [];
                        }
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "studentNumber", "name": "studentNumber", "orderable": true },
                    { "data": "firstName", "name": "firstName", "orderable": true },
                    { "data": "lastName", "name": "lastName", "orderable": true },
                    { "data": "emailAddress", "name": "emailAddress", "orderable": true },
                    { "data": "dateOfBirth", "name": "dateOfBirth", "orderable": true },
                ],
                "order": [[0, "asc"]],
                "pageLength": 10,
                "lengthMenu": [[ 5, 10, 25, 50, 100], [ 5, 10, 25, 50, 100]],
                "language": {
                    "processing": '<div class="loading"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div><p class="mt-2">Loading employees...</p></div>',
                    "emptyTable": "No employees found",
                    "zeroRecords": "No matching employees found",
                    "info": "Showing _START_ to _END_ of _TOTAL_ employees",
                    "infoEmpty": "Showing 0 to 0 of 0 employees",
                    "infoFiltered": "(filtered from _MAX_ total employees)"
                },
                "responsive": true
            });

            @* $('#exportToExcel').click(function (e) {
                var $btn = $(this);
                var originalText = $btn.html();

                $btn.html('<i class="fas fa-spinner fa-spin"></i> Exporting...');
                $btn.prop('disabled', true);

                setTimeout(() => {
                    $btn.html(originalText);
                    $btn.prop('disabled', false);
                }, 3000)
            }) *@
        })
    </script>
}